<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开心抽一抽</title>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link href="../css/award.css" rel="stylesheet"/>
    <script src="../lib/jquery-1.7.2.min.js"></script>
    <script src="../lib/jQueryRotate.2.2.js"></script>
    <script src="../lib/jquery.easing.min.js"></script>
    <script src="../js/scroll.js"></script>
    <script src="../js/award.js"></script>
</head>
<body>
    <div class="award-container">
        <div class="ly-plate">
            <div class="rotate-bg"></div>
            <div class="lottery-star"><img src="../images/rotate-static.png" id="lotteryBtn"/></div>
        </div>
        <div style="float: right; width:450px; padding-top:100px; text-align:left;">
            <h1 class="slogan">您敢玩，我敢送</h1>
            <p class="slogan-content">90%的中奖概率，已经有<strong class="slogan-num">16435</strong>位掌柜领奖了</p>
            <div class="listbox">
                <h1 style="color:#f00">↓↓↓ 火热领奖中 ↓↓↓</h1>
                <div id="listbox">
                    <ul id="userlist">
                        <li>
                            <div class="time">10秒前</div>
                            <div class="username">付***<img src="http://a.tbcdn.cn/sys/common/icon/rank/b_2_3.gif" /></div>
                            <div class="msg">已经领奖</div>
                        </li>
                        <li>
                            <div class="time">20秒前</div>
                            <div class="username">付***<img src="http://a.tbcdn.cn/sys/common/icon/rank/b_2_5.gif"></div>
                            <div class="msg">已经领奖</div>
                        </li>
                        <li>
                            <div class="time">30秒前</div>
                            <div class="username">付***<img src="http://a.tbcdn.cn/sys/common/icon/rank/b_2_4.gif"></div>
                            <div class="msg">已经领奖</div>
                        </li>
                        <li>
                            <div class="time">30秒前</div>
                            <div class="username">付***<img src="http://a.tbcdn.cn/sys/common/icon/rank/b_2_4.gif"></div>
                            <div class="msg">已经领奖</div>
                        </li>
                        <li>
                            <div class="time">30秒前</div>
                            <div class="username">付***<img src="http://a.tbcdn.cn/sys/common/icon/rank/b_2_4.gif"></div>
                            <div class="msg">已经领奖</div>
                        </li>
                        <li>
                            <div class="time">30秒前</div>
                            <div class="username">付***<img src="http://a.tbcdn.cn/sys/common/icon/rank/b_2_4.gif"></div>
                            <div class="msg">已经领奖</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>